<h3>
    Mensajería
</h3>

<div>
    <ul id="messageLogs"></ul>
</div>

<div>
    <p id="typing"></p>
</div>

<div>
    <input id="chatBox" type="text" placeholder="mensaje">
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>