<h3>
    Todo listo para trabajar con sockets!!
    Cliente
</h3>

<form id="form">
    <label for="">Name <input type="text" name="name" id="name"></label>
    <label>Price <input type="number" name="price" id="price"></label>
    <input type="submit" value="Enviar">
</form>

<p id="products"></p>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/index.js"></script>